<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Factura electronica</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="form-container">
        <h2>Generar Factura</h2>
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ form.cliente.label }} {{ form.cliente(size=40) }}<br><br>
            {{ form.monto.label }} {{ form.monto(size=40) }}<br><br>
            {{ form.fecha.label }} {{ form.fecha(size=40) }}<br><br>
            {{ form.tipo_comprobante.label }} {{ form.tipo_comprobante() }}<br><br>
            {{ form.forma_pago.label }} {{ form.forma_pago() }}<br><br>
            {{ form.nit.label }} {{ form.nit(size=40) }}<br><br>
            {{ form.submit() }}
        </form>
    </div>
</body>
</html>
